#part1{
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
}

#part2{
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
}

#part3{
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
}
